.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0px;
  padding: 10px;
  font-size: 200%;
}
#outer-box{
  border: 1.2em solid rgb(77, 24, 100);
  padding: 10px;
}
.box-inner-box{
  padding: 10px;
  background-color: red;
}
.white-text{
  color: antiquewhite;
  font-size: 200%;

}